@inherits LayoutComponentBase

<MudThemeProvider @rendermode="InteractiveServer" />
<MudPopoverProvider @rendermode="InteractiveServer" />
<MudSnackbarProvider @rendermode="InteractiveServer" />
<MudDialogProvider @rendermode="InteractiveServer" />


<style>
#main_content{
        align-items:center;
        background-color: #BAE0F3;
        display:flex;
        height: 100vh;
        justify-content: center; 
        width: 100vw;
}
</style>
<div id="main_content">
    @Body
</div>

@code {
    private string _classPath = "App::Page::LoginLayout";

    protected override void OnInitialized()
    {
        LogTrace.Info("start", path: _classPath);

    }

    protected override void OnParametersSet()
    {
        //_entPropChanged = false;
        LogTrace.Info("trace", path: _classPath);


    }
}
