<div class="d-flex justify-content-around align-items-center my-4">
    <MenuItem Src="/images/dokter/menu/diagnosis.png" Title="Diagnosa/ICD" Href="/dokter/diagnosa"></MenuItem>
    <MenuItem Src="/images/dokter/menu/anamnesis.png" Title="Anamnesis" Href="/dokter/anamnesis"></MenuItem>
    @* <MenuItem Src="/images/dokter/menu/rekam-medis.png" Title="Rekam Medis"></MenuItem> *@
    <MenuItem Src="/images/dokter/menu/stetoskop.png" Title="Pemeriksaan" Href="/dokter/pemeriksaan" Class="p-0"></MenuItem>
    <MenuItem Src="/images/dokter/menu/pencil.png" Title="Penandaan Gambar" Href="/dokter/penandaan-gambar"></MenuItem>
    <MenuItem Src="/images/dokter/menu/notes.png" Title="CPPT" Href="/point" Class="p-0"></MenuItem>
    <MenuItem Src="/images/dokter/menu/palang-merah.png" Title="Kontrol" Href="/point"></MenuItem>
    <MenuItem Src="/images/dokter/menu/doctor.png" Title="Tindakan Perawatan" Href="/dokter/tindakan-perawatan" Class="p-0"></MenuItem>
</div>

@code {

}
