<div class="d-flex justify-content-around align-items-center my-4">
    <MenuItem Src="/images/dokter/menu/diagnosis.png" Title="Diagnosa/ICD"></MenuItem>
    <MenuItem Src="/images/dokter/menu/anamnesis.png" Title="Anamnesis" Href="/dokter/pemeriksaan"></MenuItem>
    <MenuItem Src="/images/dokter/menu/rekam-medis.png" Title="Rekam Medis"></MenuItem>
    <MenuItem Src="/images/dokter/menu/stetoskop.png" Title="Pemeriksaan" Href="/dokter/pemeriksaan"></MenuItem>
    <MenuItem Src="/images/dokter/menu/pencil.png" Title="Penandaan Gambar" Href="/point"></MenuItem>
    <MenuItem Src="/images/dokter/menu/notes.jpeg" Title="CPPT" Href="/point"></MenuItem>
    <MenuItem Src="/images/dokter/menu/palang-merah.png" Title="Kontrol" Href="/point"></MenuItem>
    <MenuItem Src="/images/dokter/menu/doctor.png" Title="Tindakan Perawatan" Href="/point"></MenuItem>
</div>

@code {

}
