@page "/"

<PageTitle>Home</PageTitle>

Welcome to your new app.
<div class="d-flex">
    <ProfiraClinicWeb.Components.Form.DatePickerMulti Label="Woww" @bind-MarkedDates="markedDates" />
</div>

@foreach (DateTime date in markedDates)
{
    // Pass the Dto properties to the component
    <p>@date.ToString()</p>
}




@code {
    private List<DateTime> markedDates = new List<DateTime>();
}
