<div>
    <div class="d-flex header-note">
        <MudIcon Icon="@Icons.Material.Filled.Note" Color="MudBlazor.Color.Default" />
        <h2>Catatan Medis</h2>
        <MudButton StartIcon="fa fa-arrow-left" IconSize="@MudBlazor.Size.Small" Class="back-btn mt-2">Sebelumnya</MudButton>
    </div>
    <div>

    </div>
</div>

@code {

}

<style>

    .back-btn {
        background: rgba(156, 99, 5, 1);
        color: white;
        margin-left: 20px;
        text-transform: none;
    }

        .back-btn:hover {
            background: rgba(126, 69, 2, 1);
        }

    .header-note {
        background: rgba(210, 199, 199, 1);
    }
</style>
